<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}
        <title>{% block title %}{{ title }}{% endblock %} | Music Jawn</title>
    {% endblock %}
</head>
<body>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/map'>Map</a></li>
        <li><a href='/timeline'>Timeline</a></li>
    </ul>
    
    <div id='content'>
        {% block content %}{% endblock %}
    </div>

    <hr>
    
    {% block footer %}
        <footer>
            <p align="center">Made by Kerry Hollis, Evan Jonokuchi, Luke Mainwaring, and Hannah Stulberg. Spring 2018.</p>
        </footer>
    {% endblock %}

</body>
</html>