{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to our Music Genre Visualization!</h1>
    <h3>The Map</h3>
    <p>Navigate to the Map to see the most popular genres in various states across the U.S., based on data from <a href='http://everynoise.com/everyplace.cgi'>Every Place at Once</a>.</p>
    <h3>The Timeline</h3>
    <p>Here, you can explore the popularity of different music over time, based on the Billboard Hot 100 lists.</p>
    <p>All data about genres was gathered using the <a href='https://beta.developer.spotify.com/console/'>Spotify API</a>. We hope you enjoy our visualization!</p>
{% endblock %}