{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <style>
        #map {
            height: 80vh;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <h3>Music Genre Popularity By City</h3>
    <div id="map"></div>
    <script>
        function initMap() {

            var center = {lat: 39.8283, lng: -98.5795};                

            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: center
            });

            var infowindow = new google.maps.InfoWindow();

            var marker;
            var i = 0;
            var city_info = [];

            {% for city in city_data %}
              city_id = {{ city.city_id }}
              city_name = "{{ city.city_name }}"
              city_state = "{{ city.city_state }}"
              city_lat = {{ city.lat }}
              if ({{ city.lon }} < 0) {
                city_lng = {{ city.lon }};
              } else {
                city_lng = {{ city.lon }} * -1;
              }
              genre_info = [];
              {% for g in city.genres %}
                genre_info.push({ genre: "{{ g.genre }}", percent: "{{ g.percent }}" });
              {% endfor %}
              
              city_info.push({ id: city_id, name: city_name, state: city_state, genres: genre_info });
              
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(city_lat, city_lng),
                map: map
              });

              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {

                  infowindow.setContent('<div id="content">'+
                    '<h1>' + city_info[i].name + ', ' + city_info[i].state + '</h1>'
                    +'<h3>Top 10 most popular genres in ' + city_info[i].name + ', ' + city_info[i].state + ': </h3>'
                    +'<div id="bodyContent">'
                    +'<ol>'
                    +'<li style="text-align: left">' + city_info[i].genres[0].percent  + '% <b style="padding-left: 50px">Genre: </b>' + city_info[i].genres[0].genre + '</li>'
                    +'<li style="text-align: left">' + city_info[i].genres[1].percent + '% <b style="padding-left: 50px">Genre: </b>' + city_info[i].genres[1].genre + '</li>'
                    +'<li style="text-align: left">' + city_info[i].genres[2].percent + '% <b style="padding-left: 50px">Genre: </b>' + city_info[i].genres[2].genre + '</li>'
                    +'<li style="text-align: left">' + city_info[i].genres[3].percent + '% <b style="padding-left: 50px">Genre: </b>' + city_info[i].genres[3].genre + '</li>'
                    +'<li style="text-align: left">' + city_info[i].genres[4].percent + '% <b style="padding-left: 50px">Genre: </b>' + city_info[i].genres[4].genre + '</li>'
                    +'<li style="text-align: left">' + city_info[i].genres[5].percent + '% <b style="padding-left: 50px">Genre: </b>' + city_info[i].genres[5].genre + '</li>'
                    +'<li style="text-align: left">' + city_info[i].genres[6].percent + '% <b style="padding-left: 50px">Genre: </b>' + city_info[i].genres[6].genre + '</li>'
                    +'<li style="text-align: left">' + city_info[i].genres[7].percent + '% <b style="padding-left: 50px">Genre: </b>' + city_info[i].genres[7].genre + '</li>'
                    +'<li style="text-align: left">' + city_info[i].genres[8].percent + '% <b style="padding-left: 50px">Genre: </b>' + city_info[i].genres[8].genre + '</li>'
                    +'<li style="text-align: left">' + city_info[i].genres[9].percent + '% <b style="padding-left: 50px">Genre: </b>' + city_info[i].genres[9].genre + '</li>'                                 
                    +'</ol>'
                    +'</div>'
                    +'</div>');
                  infowindow.open(map, marker);
                }
              })(marker, i));
              i++;
            {% endfor %}

        }
    </script>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2BC4cPIZ4KkOSIVa7lsjfy1I6ZoMiLJA&callback=initMap"></script>
{% endblock %}
