{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <h3>Music Genre Popularity By City</h3>
    <div id="map"></div>
    <script>
        function initMap() {

            var center = {lat: 39.8283, lng: -98.5795};                

            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: center
            });

            var infowindow = new google.maps.InfoWindow();

            var marker;
            var i = 0;
            var city_info = [];

            {% for city in city_data %}
              city_id = {{ city.city_id }}
              city_name = "{{ city.city_name }}"
              city_state = "{{ city.city_state }}"
              city_lat = {{ city.lat }}
              if ({{ city.lon }} < 0) {
                city_lng = {{ city.lon }};
              } else {
                city_lng = {{ city.lon }} * -1;
              }
              
              city_info.push({ id: city_id, name: city_name, state: city_state });
              
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(city_lat, city_lng),
                map: map
              });

              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                var test = city_name
                return function() {
                  infowindow.setContent('<div id="content">'+
                    '<h1>' + city_info[i].name + ', ' + city_info[i].state + '</h1>'
                    +'<h3>Ten most popular genres in ' + city_info[i].name + ', ' + city_info[i].state + ': </h3>'
                    +'<div id="bodyContent">'
                    +'<ol>'
                    +'<li style="text-align: left">Rap: 34% </li>'
                    +'<li style="text-align: left">Country: 17% </li>'
                    +'<li style="text-align: left"> ... </li>'
                    +'</ol>'
                    +'</div>'
                    +'</div>');
                  infowindow.open(map, marker);
                }
              })(marker, i));
              i++;
            {% endfor %}

            /*
            var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
            'sandstone rock formation in the southern part of the '+
            'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
            'south west of the nearest large town, Alice Springs; 450&#160;km '+
            '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
            'features of the Uluru - Kata Tjuta National Park. Uluru is '+
            'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
            'Aboriginal people of the area. It has many springs, waterholes, '+
            'rock caves and ancient paintings. Uluru is listed as a World '+
            'Heritage Site.</p>'+
            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
            'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
            '(last visited June 22, 2009).</p>'+
            '</div>'+
            '</div>';
            */


        }
    </script>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2BC4cPIZ4KkOSIVa7lsjfy1I6ZoMiLJA&callback=initMap"></script>
{% endblock %}
