{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
 	<h3>Music Genre Popularity Over Time</h3>

    <div>
		<p>Top 10 most popular genres in <span class="demo"></p>
 		<ol>
 			<!-- <li tyle="text-align: center; list-style-position: inside;"><b>Genre:</b> <span class="genre1"></span> <b>Percent:</b> <span class="percent1"></span> </li> -->
 			<li> <span class="percent1"></span>%  <b style="padding-left: 25px">Genre:</b> <span class="genre1" ></span> </li>
 			<li> <span class="percent2"></span>%  <b style="padding-left: 25px">Genre:</b> <span class="genre2" ></span> </li>
  			<li> <span class="percent3"></span>%  <b style="padding-left: 25px">Genre:</b> <span class="genre3" ></span> </li>
 			<li> <span class="percent4"></span>%  <b style="padding-left: 25px">Genre:</b> <span class="genre4" ></span> </li>
 			<li> <span class="percent5"></span>%  <b style="padding-left: 25px">Genre:</b> <span class="genre5" ></span> </li>
 			<li> <span class="percent6"></span>%  <b style="padding-left: 25px">Genre:</b> <span class="genre6" ></span> </li>
  			<li> <span class="percent7"></span>%  <b style="padding-left: 25px">Genre:</b> <span class="genre7" ></span> </li>
 			<li> <span class="percent8"></span>%  <b style="padding-left: 25px">Genre:</b> <span class="genre8" ></span> </li>
 			<li> <span class="percent9"></span>%  <b style="padding-left: 25px">Genre:</b> <span class="genre9" ></span> </li>
 			<li> <span class="percent10"></span>%  <b style="padding-left: 25px">Genre:</b> <span class="genre10" ></span> </li>

 		</ol>
 		
	</div>

	<div>
	<span><p> 1959 </p></span>
	<span class="slidecontainer">
  		<input type="range" min="1959" max="2018" value="1990" class="slider" id="myRange">
	</span>
	<span><p> 2018 </p></span>
	<p>Year: <span class="demo"></span></p>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    
    <script>


		
	var slider = document.getElementById("myRange");
	//var output = document.getElementById("demo");
	//output.innerHTML = slider.value; // Display the default slider value
	$(".demo").text(slider.value)
	
	var year = 31;
	var genre_data = []
	var percent_data = []
	{% for d in timeline_data %}
		// year_data.push("{{ d.genres }}");
		{% for g in d.genres %}
			genre_data.push("{{ g.genre }}");
			percent_data.push("{{ g.percent }}");
		{% endfor %}
	{% endfor %}

	$(".genre1").text(genre_data[year*10])
	$(".genre2").text(genre_data[year*10+1])
	$(".genre3").text(genre_data[year*10+2])
	$(".genre4").text(genre_data[year*10+3])
	$(".genre5").text(genre_data[year*10+4])
	$(".genre6").text(genre_data[year*10+5])
	$(".genre7").text(genre_data[year*10+6])
	$(".genre8").text(genre_data[year*10+7])
	$(".genre9").text(genre_data[year*10+8])
	$(".genre10").text(genre_data[year*10+9])
	$(".percent1").text(percent_data[year*10])
	$(".percent2").text(percent_data[year*10+1])
	$(".percent3").text(percent_data[year*10+2])
	$(".percent4").text(percent_data[year*10+3])
	$(".percent5").text(percent_data[year*10+4])
	$(".percent6").text(percent_data[year*10+5])
	$(".percent7").text(percent_data[year*10+6])
	$(".percent8").text(percent_data[year*10+7])
	$(".percent9").text(percent_data[year*10+8])
	$(".percent10").text(percent_data[year*10+9])


	// Update the current slider value (each time you drag the slider handle)
	slider.oninput = function() {
	    $(".demo").text(slider.value)
	    // Access correct index in data array
		year = slider.value - 1959
		// console.log(year)
		$(".genre1").text(genre_data[year*10])
		$(".genre2").text(genre_data[year*10+1])
		$(".genre3").text(genre_data[year*10+2])
		$(".genre4").text(genre_data[year*10+3])
		$(".genre5").text(genre_data[year*10+4])
		$(".genre6").text(genre_data[year*10+5])
		$(".genre7").text(genre_data[year*10+6])
		$(".genre8").text(genre_data[year*10+7])
		$(".genre9").text(genre_data[year*10+8])
		$(".genre10").text(genre_data[year*10+9])
		$(".percent1").text(percent_data[year*10])
		$(".percent2").text(percent_data[year*10+1])
		$(".percent3").text(percent_data[year*10+2])
		$(".percent4").text(percent_data[year*10+3])
		$(".percent5").text(percent_data[year*10+4])
		$(".percent6").text(percent_data[year*10+5])
		$(".percent7").text(percent_data[year*10+6])
		$(".percent8").text(percent_data[year*10+7])
		$(".percent9").text(percent_data[year*10+8])
		$(".percent10").text(percent_data[year*10+9])
		
	}    	

    </script>


	<!-- <script src="../static/js/main.js"></script> -->
{% endblock %}